.not_found {
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  width: 60vw;
  border-radius: 10px;
  height: 60vh;
  background-image: url("/404-error.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-color: #e7e6e6;
  margin-bottom: 1.5em;
}

.not_found span {
  color: #4e76bc;
}

/* tablet */
@media (max-width: 834px) {
    .not_found {
        width: 85vw;
    }
}

/* smartphones */
@media (max-width: 480px) {
    .not_found {
        height: 480px;
    }
}
