.search_container,
.button_container,
.search_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search_container {
  min-height: 150px;
  width: 100%;
  margin: 0 auto;
}

.search_wrapper {
    width: 100%;
}

.search_container span {
  color: #4e76bc;
  font-weight: 700;
}

.search_container h2 {
  margin-bottom: 0.5em;
}

.nothing_found {
  margin-bottom: 0.4em;
  width: 600px;
  text-align: center;
  height: 340px;
  background-color: #e5e7e6;
  border-radius: 5px;
  padding: 10px;
  background-image: url("/nothing-found.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button_container {
    margin-bottom: 1em;
}

.posts_found {
  width: 100%;
}

@media (max-width: 600px){
  .nothing_found {
    width: 100vw;
    height: 450px
  }
}
