.login,
form,
label {
  display: flex;
  flex-direction: column;
}

.login {
  align-items: start;
  justify-content: center;
  border-radius: 5px;
  width: 65vw;
  height: 500px;
  margin: 0 auto;
  background-image: url("./login.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #dfe2e0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 60px;
  margin-bottom: 1.5em;
}

.login_titles h2 {
  font-size: 1.3em;
}

.login_titles h1,
.login_titles h2 {
  margin-bottom: 0.4em;
}

.login_titles h1,
.login_titles h2 span {
  color: #4e76bc;
  font-weight: 700;
}

label {
  font-size: 1.05em;
  font-weight: 300;
}

/* smaller screens */
@media (max-width: 1500px) {
  .login {
    width: 80vw;
  }
}

@media (max-width: 1200px) {
  .login {
    width: 90vw;
  }
}

@media (max-width: 1000px){
  .login{
    background-image: none;
    align-items: center;
  }

  .login input {
    width: 80%;
  }

}
  
  /* smartphones */
  @media (max-width: 480px) {
    .login input {
      width: 100%
    }
  }