.register,
form,
label {
  display: flex;
  flex-direction: column;
}

.register {
  align-items: end;
  justify-content: center;
  border-radius: 5px;
  width: 65vw;
  height: 550px;
  margin: 0 auto;
  background-image: url("./register.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-color: #dfe2e0;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 1.5em;
}

.register_titles h1,
.register_titles h2 {
  margin-bottom: 0.2em;
}

.register_titles h1,
.register_titles h2 span {
  color: #4e76bc;
  font-weight: 700;
}

label {
  font-size: 1.05em;
  font-weight: 300;
}

/* smaller screens */
@media (max-width: 1650px) {
  .register {
    width: 80vw;
  }
}

@media (max-width: 1360px) {
  .register {
    width: 90vw;
    background-size: 40%
  }
}

@media (max-width: 1000px){
  .register{
    background-image: none;
    align-items: center;
    justify-content: center;
  }

  .register input {
    width: 80%;
  }

}
  
  /* smartphones */
  @media (max-width: 480px) {
    .register input {
      width: 100%
    }
  }
